/* Set background and font for the entire page */
body {
  margin: 0;
  font-family: Arial, sans-serif; 
  background: url('back.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

/* Center the content vertically and horizontally */
.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

/* Style for the main white box in the center */
.white-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Flex layout for the form section */
.form-section {
  display: flex;
  flex-direction: column;
}

/* Styling for labels in the form */
label {
  margin-bottom: 8px;
}

/* Styling for input fields in the form */
input {
  padding: 8px;
  margin-bottom: 16px;
}

/* Flex layout for the button container */
.button-container {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

/* Flex layout for the prediction section */
.prediction-section {
  display: flex;
  flex-direction: column;
}

/* Styling for text boxes */
.text-box {
  padding: 8px;
  margin-bottom: 16px;
}

/* Styling for the clear button */
.clear-button {
  padding: 8px;
  cursor: pointer;
}

/* Positioning for the text box container */
.text-box-container {
  position: relative;
}

/* Additional styling for text boxes within the container */
.text-box {
  padding: 8px;
  margin-bottom: 16px;
  height: 100px;
}

/* Positioning and styling for the clear button within the container */
.clear-button {
  position: absolute;
  bottom: 25px;
  left: 5px;
  padding: 5px;
  cursor: pointer;
}

/* Styling for error labels */
.error-label{
  color: red;
}
